---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: cfje/java-buildpack-dependency-builder
    tag: latest

inputs:
- name: azure-application-insights-archives
- name: java-buildpack-dependency-builder

outputs:
- name: repository

run:
  path: java-buildpack-dependency-builder/azure-application-insights.sh
